<div class="daily-plan-edit-container">
    <ng-template [ngIf]="form">
        <form [formGroup]="form" (ngSubmit)="submitForm()">
            <div class="date-wrapper">
                <mat-form-field color="accent">
                    <input matInput [matDatepicker]="picker1" placeholder="Scegliere una data" [formControl]="date"
                    [(ngModel)]= "rawId">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1 color="primary"></mat-datepicker>
                </mat-form-field>
            </div>
            <div formArrayName="tasks">
                <mat-accordion>
                    <mat-expansion-panel *ngFor="let task of tasks.controls; let i = index" [formGroupName]="i">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                #{{ i }}
                            </mat-panel-title>
                            <mat-panel-description>
                                {{ task.controls.title.value }}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row my-3">
                            <!-- titolo task -->
                            <mat-form-field class="col" hintLabel="Max 30 characters">
                                <input [formControl]="task.controls.title" matInput #title maxlength="30"
                                    placeholder="Add title" required>
                                <mat-hint align="end">{{title.value?.length || 0}}/30</mat-hint>
                            </mat-form-field>
                        </div>
                        <mat-action-row>
                            <button type="button" mat-icon-button aria-label="Inserisci sopra"
                                matTooltip="Inserisci nuova attività precedente" color="accent"
                                (click)="insertTask(i)">
                                <mat-icon>add_circle</mat-icon>
                            </button>
                            <button type="button" mat-icon-button aria-label="Rimuovi" matTooltip="Rimuovi"
                                color="accent" (click)="removeTask(i)">
                                <mat-icon>delete_forever</mat-icon>
                            </button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </mat-accordion>
                <div class="row mt-3">
                    <div class="col text-center">
                        <button type="button" mat-mini-fab aria-label="aggiungi un'attività"
                            matTooltip="Aggiungi un'attività" color="primary" (click)="addTask()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <button type="submit" mat-fab aria-label="Salva" matTooltip="Salva il piano" [disabled]="!form.valid" color="accent">
                <mat-icon>save</mat-icon>
            </button>
        </form>
    </ng-template>
</div>


