<!-- <main class="d-flex">
    <mat-list>
        <mat-list-item>
            Pepper
            <mat-checkbox></mat-checkbox>
        </mat-list-item>
        <mat-list-item> Salt
            <mat-checkbox></mat-checkbox>
        </mat-list-item>
        <mat-list-item> Paprika
            <mat-checkbox></mat-checkbox>
        </mat-list-item>
    </mat-list>
</main> -->
<div class="d-flex container">
    <div class="container-plan d-flex mat-elevation-z6">
        <ng-template [ngIf]="plan">
            <mat-toolbar class="d-flex">
                <mat-toolbar-row class="justify-content-center">
                    <button mat-mini-fab aria-label="Avvio/Pausa" (click)="togglePlayStop()">
                        <mat-icon *ngIf="!isRunning">play_arrow</mat-icon>
                        <mat-icon *ngIf="isRunning">pause</mat-icon>
                    </button>
                </mat-toolbar-row>
            </mat-toolbar>

            <mat-list class="d-flex" *ngFor="let task of plan.tasks" [ngClass]="{ disabled: !task.isEnabled }">
                <div class="wrap">
                    <mat-list-item>
                        {{ task.title }}
                    </mat-list-item>
                    <div class="wrappino">
                        <p>{{task.tempotrascorso | numberToTime}}</p>
                    </div>
                    <div class="wrappino">
                        <ng-template [ngIf]="task.isEnabled">
                            <mat-checkbox (click)="this.check()"></mat-checkbox>
                        </ng-template>
                    </div>
                </div>
                <mat-divider></mat-divider>
            </mat-list>


        </ng-template>
    </div>
</div>
